
body {
    background-color: rgb(247, 242, 248);
}
.container {
    margin-top: 20px;
    max-width: 800px;
    border-radius: 6px;
    padding: 60px 50px 70px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    background-image: url(./img/bg1.webp);
    background-size: cover;
    background-position: center;
}
#accordionExample {
    margin-top: 35px;
}


.card-header {
    padding: 0;
    border-bottom: none;
}
.btn-link {
    padding: 16px 12px;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #32344b;
    border-bottom: none;
    background-color: #fff;
    transition: all .5s;
}
.btn-link:hover {
    color: #0463e0;
    text-decoration: none;
}
.btn-link[aria-expanded="true"] i {
    transform: rotate(-180deg);
}
.btn-link[aria-expanded="true"] {
    background-color: #e7f1ff;
    color: #0463e0;
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}
.btn-link img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.btn-link i {
    margin-left: auto;
    transition: all .5s;
}



.container__header {
    color: #32344b;
    margin-bottom: 20px;

}
.container__header h3 {
}
.input-arr {
    display: flex;
    align-items: center;
    margin: 25px 0;
}
input {
    width: 35%;
    padding: 8px;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.btn-style {
    padding: 8px 20px;
    margin-left: 30px;
    font-size: 14px;
    color: white;
    background-color: #006ef9;
    border: 1px solid #006ef9;
    border-radius: 40px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
}
.btn-style:hover {
    opacity: .8;
}

.ketQua {
    background-color: #d0e6de;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    line-height: 40px;
    border: 1px solid rgb(108, 194, 160);
}
.ketQua img {
    height: 40px;
}
.result {
    margin-left: 20px;
}
.result h5 {
    color: rgb(48, 103, 81);
    margin: 8px 0 0 0;

}